<div class="jumbotron">
    <h1>ResourceR</h1>
    <p class="lead">Come here &amp; organise your crap.</p>
    <p><a href="https://github.com/dejanvasic85/resourceR" class="btn btn-primary btn-lg">Contribute &raquo;</a></p>
</div>
<div class="row" ng-app="resourceApp" ng-controller="assetCtrl as vm" ng-init="vm.init()" ng-cloak>
    
    <div class="col-xs-12">
        
        <div class="top-buffer-30">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Resource Name</th>
                        <th>Current Owner</th>
                        <th>ETA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ass in vm.assets">
                        <td><input type="text" class="form-control input-lg" ng-model="ass.assetName" placeholder="Resource Name" /></td>
                        <td><input type="text" class="form-control input-lg" ng-model="ass.currentOwner" placeholder="Current Owner" /></td>
                        <td><input type="text" class="form-control input-lg" ng-model="ass.estimatedCompletion" placeholder="ETA" date-time view="date" auto-close="true" /></td>
                        <td>
                            <button class="btn btn-lg btn-default" ng-click="vm.update(ass)"><i class="glyphicon glyphicon-floppy-save"></i></button> &nbsp;
                            <button class="btn btn-lg btn-default" ng-click="vm.remove(ass)"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    @*Quick Add*@
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control input-lg" ng-model="vm.newAsset.assetName" placeholder="Resource Name"/>
                        </td>
                        <td>
                            <button class="btn btn-default btn-lg" ng-click="vm.save()">Add</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

</div>