<div class="well well-sm">
    <h1>BookIT</h1>
    <p class="lead">Come here to book something.</p>
</div>

<div class="row" 
     ng-app="resourceApp" 
     ng-controller="assetCtrl as vm" 
     ng-init="vm.init()" 
     ng-cloak>
    
    <div class="col-xs-12">
        Team Filter: 
        <button class="btn btn-primary" ng-click="vm.setTeamFilter('')">All Teams</button>
        <span ng-repeat="team in vm.teamOptions">
            <button ng-click="vm.setTeamFilter(team)" type="button" class="btn btn-primary">{{team}}</button>
        </span>
    </div>

    <div class="col-xs-12">

        <div class="top-buffer-30">
            <table class="table table-striped table-responsive asset-list">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Resource Name</th>
                        <th>Current Owner</th>
                        <th>ETA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ass in vm.assets | filter : { team : vm.teamFilter } " ng-class="{'success' : ass.isLocked === true}">
                        <td>
                            <h3><span class="label label-default" ng-bind="ass.team"></span></h3>
                        </td>
                        <td>
                            <h3>
                                <span class="label label-success" ng-bind="ass.assetName"></span>
                            </h3>
                        </td>
                        <td><input type="text" class="form-control input-lg" ng-model="ass.currentOwner" placeholder="Current Owner" /></td>
                        <td><input type="text" class="form-control input-lg" ng-model="ass.estimatedCompletion" placeholder="ETA" date-time view="date" auto-close="true" /></td>
                        <td>
                            <button class="btn btn-default btn-lg btn-primary" ng-click="vm.update(ass)"><i class="glyphicon glyphicon-floppy-save"></i></button>
                            <button class="btn btn-default btn-lg btn-danger" ng-click="vm.remove(ass)"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    @*Quick Add*@
                    <tr>
                        <td>
                            <input type="text" class="form-control input-lg" ng-model="vm.newAsset.team" placeholder="Team"/>
                        </td>
                        <td>
                            <input type="text" class="form-control input-lg" ng-model="vm.newAsset.assetName" placeholder="Resource Name" />
                        </td>
                        <td colspan="2"></td>
                        <td>
                            <button class="btn btn-default btn-lg" ng-disabled="vm.newAsset.assetName === '' || vm.newAsset.team === ''" ng-click="vm.save()">Add</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

</div>