<div class="jumbotron">
    <h1>ResourceR</h1>
    <p class="lead">Come here &amp; organise your crap.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row" ng-app="resourceApp" ng-controller="assetCtrl as vm" ng-init="vm.init()" ng-cloak>
    
    <div class="col-xs-12">
        <div class="form-inline">
            <label>Quick Add</label>
            <input type="text" class="form-control input-lg" ng-model="vm.newAsset.assetName" placeholder="Machine Name"/>
            <button class="btn btn-default" ng-click="vm.save()">Save</button>
        </div>
    </div>
    
    <div class="col-xs-12">
        
        <div class="top-buffer-30">
            <table class="table table-bordered table-striped">
                <tr ng-repeat="ass in vm.assets" ng-class="{'warning' : ass.currentOwner !== null && ass.currentOwner !== '' }">
                    <td><input type="text" class="form-control input-lg" ng-model="ass.assetName" placeholder="Machine Name" /></td>
                    <td><input type="text" class="form-control input-lg" ng-model="ass.currentOwner" placeholder="Current Owner" /></td>
                    <td><input type="text" class="form-control input-lg" ng-model="ass.estimatedCompletion" placeholder="ETA" date-time view="date" auto-close="true"/></td>
                    <td>
                        <button class="btn btn-lg btn-default" ng-click="vm.update(ass)"><i class="glyphicon glyphicon-floppy-save"></i></button> &nbsp;
                        <button class="btn btn-lg btn-default" ng-click="vm.remove(ass)"><i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>