<div class="jumbotron">
    <h1>ResourceR</h1>
    <p class="lead">Come here &amp; organise your crap.</p>
    <p><a href="https://github.com/dejanvasic85/resourceR" class="btn btn-primary btn-lg" target="_blank">Contribute &raquo;</a></p>
</div>
<div class="row" 
     ng-app="resourceApp" 
     ng-controller="assetCtrl as vm" 
     ng-init="vm.init()" 
     ng-cloak>

    <div class="col-xs-12">

        <div class="top-buffer-30">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            <select class="form-control" ng-model="vm.teamFilter" ng-options="t for t in vm.teamOptions">
                                <option value="">All Teams</option>
                            </select>
                        </th>
                        <th>Resource Name</th>
                        <th>Current Owner</th>
                        <th>ETA</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ass in vm.assets" ng-class="{'info' : ass.isLocked === true}">
                        <td>
                            <h3><span class="label label-default" ng-bind="ass.team"></span></h3>
                        </td>
                        <td>
                            <h3>
                                <span class="label label-success" ng-bind="ass.assetName"></span>
                            </h3>
                        </td>
                        <td><input type="text" class="form-control input-lg" ng-model="ass.currentOwner" placeholder="Current Owner" /></td>
                        <td><input type="text" class="form-control input-lg" ng-model="ass.estimatedCompletion" placeholder="ETA" date-time view="date" auto-close="true" /></td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Options <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    @*<li>
                                            <a href="" ng-click="vm.update(ass)"><i class="glyphicon glyphicon-floppy-save"></i> Save</a>
                                        </li>*@
                                    <li ng-show="ass.isLocked === false">
                                        <a href="" ng-click="vm.lock(ass)"><i class="glyphicon glyphicon-lock"></i> Lock</a>
                                    </li>
                                    <li ng-show="ass.isLocked === true">
                                        <a href="" ng-click="vm.unlock(ass)"><i class="glyphicon glyphicon-lock"></i> Unlock</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="" ng-click="vm.remove(ass)"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    @*Quick Add*@
                    <tr>
                        <td>
                            <input type="text" class="form-control input-lg" ng-model="vm.newAsset.team" placeholder="Team"/>
                        </td>
                        <td>
                            <input type="text" class="form-control input-lg" ng-model="vm.newAsset.assetName" placeholder="Resource Name" />
                        </td>
                        <td colspan="2"></td>
                        <td>
                            <button class="btn btn-default btn-lg" ng-click="vm.save()">Add</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

</div>